getDesc.js
down.txt

node_modules
package-lock.json

firefox/icons/
firefox/style.css
firefox/popup.html
firefox/support.html

firefox-android/icons/
firefox-android/style.css
firefox-android/popup.js
firefox-android/background.js