getDesc.js
down.txt

node_modules
package-lock.json

firefox/icons/
firefox/style.css
firefox/popup.html
firefox/support.html

firefox-android/icons/
firefox-android/background.js
firefox-android/popup.js
firefox-android/support.html

chrome/icons/
chrome/style.css
chrome/popup.html
chrome/support.html