body {
  color: #6e6e6e;
  margin: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
}

.popup-container {
  width: 200px;
}

.switch-label {
  display: flex;
  justify-content: end;
  padding-bottom: 10px;
}

.switch-text {
  margin-right: auto;
}

.switch {
  position: fixed;
  display: inline-block;
  width: 56px;
  height: 20px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d4d4d4;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 38px;
  top: 2px;
  background-color: white;
  border-radius: 50%;
}

input:not(:checked)+.slider {
  background: #ff5919;
}

input:not(:checked)+.slider-tt {
  background: #ff0a58;
}

input:checked+.slider:before {
  transform: translateX(-36px);
}

.option {
  margin: 5px 2px 0 0;
  accent-color: #ff5919;
  vertical-align: bottom;
}

.option-tt {
  accent-color: #ff0a58;
}

.option-text {
  padding-right: 20px;
  font-size: 11px;
  color: rgb(158, 158, 158);
}

.supported {
  font-style: italic;
  padding-left: 18px;
}

.switch-container {
  margin: 5px 0;
  padding: 10px 10px 3px 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.option-container {
  display: grid;
  grid-row-gap: 5px;
}

img {
  vertical-align: bottom;
  padding-right: 5px;
}
