body {
  margin: 20px !important;
  font-size: 18px !important;
  font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  vertical-align: auto !important;
}

.popup-container {
  width: 100% !important;
}

.switch {
  width: 60px !important;
  height: 24px !important;
}

.slider:before {
  height: 20px !important;
  width: 20px !important;
}

.option {
  margin: 5px 2px 5px 0 !important;
}

.option-text {
  font-size: 18px !important;
}
.alt-text {
  font-size: 18px !important;
}

.switch-container {
  margin: 20px 0 !important;
  border-radius: 10px !important;
}

.option-container {
  grid-row-gap: 15px !important;
}

img {
  vertical-align: sub !important;
}

.img-ig {
  width: 20px !important;
}

.img-tt {
  width: 16px;
}